# save 
/output

# ckpt
/ckpt
**/checkpoints/

# data
**/data
/mobility_dataset

# pyc
**/__pycache__/

# log
**/log

mine/1126_merge_robots/
mine/meshes/
mine/output/
# vis
vis_output/
playground
ckpt
output
wandb