transformers==4.31.0
tokenizers
sentencepiece
huggingface-hub
accelerate
peft
pytorch-lightning
pillow
ftfy
einops
tqdm
scipy
matplotlib
requests
opencv-python-headless
easydict
timm
termcolor

h5py
open3d
plyfile
pydantictrimesh